[submodule "submodules/mpsoc/camera-controller"]
	path = submodules/mpsoc/camera-controller
	url = https://github.com/shalex88/camera-controller.git
[submodule "submodules/orin/video-player"]
	path = submodules/orin/video-player
	url = https://github.com/shalex88/video-player.git
[submodule "submodules/orin/gst-plugins"]
	path = submodules/orin/gst-plugins
	url = https://github.com/shalex88/gst-plugins.git
[submodule "submodules/orin/project-fullstack"]
	path = submodules/orin/project-fullstack
	url = https://github.com/shalex88/project-fullstack.git
[submodule "submodules/orin/sensor-core"]
	path = submodules/orin/sensor-core
	url = https://github.com/shalex88/sensor-core.git
[submodule "submodules/orin/media-server"]
	path = submodules/orin/media-server
	url = https://github.com/shalex88/media-server.git
