[submodule "submodules/mpsoc/camera-controller"]
	path = submodules/mpsoc/camera-controller
	url = https://github.com/shalex88/camera-controller.git
[submodule "submodules/orin/video-player"]
	path = submodules/orin/video-player
	url = https://github.com/shalex88/video-player.git
